@import "./theme/theme";

.Timer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 100%;

  cursor: pointer;

  border: 1px solid red;

  .TimerFace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    min-height: 300px;
    font-size: $font-size-medium;

    border: 1px solid red;

  }

  .TimerControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;

    width: 100%;
    border: 1px solid red;

    .TimerButton {
      font-size: $font-size-medium;
    }
  }
}